@import 'tailwindcss';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/syne/500.css';
@import '@fontsource/syne/600.css';
@import '@fontsource/syne/700.css';

@theme {
  --font-body: 'inter', sans-serif;
  --font-heading: 'syne', sans-serif;
  --color-gradient: linearGradient(
    90deg,
    #ff4d6d 0%,
    #bd3eb2 25%,
    #7b2ff7 50%,
    #2f86f7 75%,
    #2ff7ed 100%
  );
}

@layer base {
  body {
    @apply bg-black text-white font-body text-xl overflow-x-clip;
  }
}

@layer components {
  .main-container {
    @apply max-w-[1600px] w-full mx-auto px-4 lg:px-12;
  }

  h1 {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 12px;
      width: 99%;
      height: 1vh;
      background: var(--color-gradient);
      z-index: -1;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 6px;
      width: 99%;
      height: 2px;
      background: var(--color-gradient);
      z-index: -1;
    }
  }
}
